<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Cursos Cadastrados</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
  <section class="container">
    <h1>Lista de Cursos</h1>
    <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th>Descrição</th>
          <th>Carga Horária</th>
        </tr>        
      </thead>
      <tbody>
        <tr th:each="curso : ${cursos}">
          <td th:text="${curso.nome}">Nome do Curso</td>
          <td th:text="${curso.descricao}">Descrição do Curso</td>
          <td th:text="${curso.cargaHoraria}">Carga Horária do Curso</td>
        </tr>
        <tr th:if="${#lists.isEmpty(cursos)}">
                <td id="semCursos" colspan="4">Não há cursos cadastrados.</td>
        </tr>
      </tbody>      
    </table>
    <div class="links">
      <a th:href="@{cursos/novo}" class="link">Novo</a>
      <a th:href="@{/}" class="link">Voltar</a>
    </div>
  </section>
</body>
</html>