@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
  --bg-color: #2c3e50;
  --container-bg-color: #395068;
}

* {  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--bg-color);
  font-family: 'Ubuntu', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--container-bg-color);
  border: 2px solid black;
  border-radius: 1.5em;
  padding: 1em 2em;
}

.container > h1 {
  font-size: 2em;
  padding: 0.5em 1em;
  color: #ecf0f1;
}

.options-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.links {
  padding: 0.5em 1em;
  display: flex;
  justify-content: space-around;
}

.link {
  text-decoration: none;
  border: none;
  color: white;
  background-color: #007bff;
  padding: 0.5em 1em;
  margin: 0 0.5em;
  border-radius: 5px;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
}
.link:hover {
  background-color: #0056b3;
}

.link:active {
  background-color: #003d80;
}

.subtitle {
  font-size: 1.2em;
  color: #bdc3c7;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 1.5em 0;
  font-size: 1em; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  background-color: white; 
  border-radius: 8px; 
  overflow: hidden; 
}

th, td {
  border: none;
  border-bottom: 1px solid #ddd;
  padding: 1em 1em;
  text-align: left;
}

th{
  font-weight: 700;
  text-transform: uppercase;
}

td{
  font-weight: 500;
}

tbody td:nth-child(odd) {
  background-color: #f7f7f7;
}

tbody td:hover {
  background-color: #e9ecef;
  cursor: default;
  transition: ease-in-out .4s;
}

thead{
  background-color: #007bff;
  color: white;
}

tbody tr:last-child td {
  border-bottom: none;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  margin-bottom: 1em;
}

input {
  font-size: 1.2em;
  padding: 0.5em 0.2em 0.2em;
  border-radius: .5em;
  border: 0;
}

label{
  margin-bottom: 1vh;
  color: white;
  font-weight: 500;
}

input,
textarea,
select {
  margin-bottom: 1em;
}

select {
  padding: 10px;
  font-size: 1em;
  border: 1px solid #000000;
  border-top-left-radius: .5em;
  border-top-right-radius: .5em;
  border-bottom-left-radius: .2em;
  border-bottom-right-radius: .2em;
}

option {
  font-size: 1em;
  padding: 5px;
  margin: 2px;
  border: 1px solid #000000;
}